* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;

  background: #0f0f0f;
  color: white;

  font-family: Arial, Helvetica, sans-serif;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.container {
  width: 100%;
}

.card {
  width: 100%;
  max-width: 650px;

  margin: auto;

  text-align: center;
}

.small-text {
  font-size: 10px;

  letter-spacing: 4px;

  color: #666;

  margin-bottom: 35px;
}

h1 {
  font-size: clamp(70px, 18vw, 130px);

  line-height: 0.9;

  letter-spacing: -5px;

  margin-bottom: 30px;
}

.subtitle {
  font-size: clamp(17px, 4vw, 22px);

  color: #aaa;

  margin-bottom: 50px;
}

.buttons {
  display: flex;

  justify-content: center;
  align-items: center;

  gap: 15px;

  margin-bottom: 35px;
}

.btn {
  text-decoration: none;

  padding: 17px 32px;

  border-radius: 12px;

  font-size: 13px;

  font-weight: 700;

  letter-spacing: 1px;

  transition:
    transform 0.2s ease,
    background 0.2s ease;
}

.yes-btn {
  background: white;

  color: #111;
}

.yes-btn:hover {
  transform: scale(1.07);

  background: #eeeeee;
}

.second-btn {
  background: #202020;

  color: #aaa;

  border: 1px solid #2d2d2d;
}

.second-btn:hover {
  transform: scale(1.05);

  background: #292929;
}

.hint {
  font-size: 12px;

  color: #555;

  margin-bottom: 6px;
}

.tiny {
  font-size: 9px;

  color: #333;

  font-style: italic;
}

/* TELEFON */

@media (max-width: 600px) {
  .card {
    padding: 10px;
  }

  .small-text {
    font-size: 9px;

    letter-spacing: 3px;

    margin-bottom: 30px;
  }

  h1 {
    letter-spacing: -3px;
  }

  .subtitle {
    margin-bottom: 40px;
  }

  .buttons {
    flex-direction: column;

    gap: 12px;

    width: 100%;
  }

  .btn {
    width: 100%;

    max-width: 270px;

    padding: 17px 25px;
  }
}
